{% extends "header.html" %}
<!DOCTYPE html>
<html lang="en">

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Portofolio</title>
{% endblock %}

{% block body %}
<div class="content-b">
    <div class="title">
        <h1>2. PORTOFOLIO</h2>
    </div>
    <img class="big" src="https://www.imageupload.co.uk/images/2018/09/27/big1.jpg" alt="">
    <img class="big" src="https://www.imageupload.co.uk/images/2018/09/27/big2.jpg" alt="">
    <img class="big" src="https://www.imageupload.co.uk/images/2018/09/27/big3b6bba.jpg" alt="">
    <img class="big" src="https://www.imageupload.co.uk/images/2018/09/27/big4.jpg" alt="">
    <img class="big" src="https://www.imageupload.co.uk/images/2018/09/27/big5.jpg" alt="">
    <img class="big" src="https://www.imageupload.co.uk/images/2018/09/27/big6.jpg" alt="">
    <img class="big" src="https://www.imageupload.co.uk/images/2018/09/27/big7.jpg" alt="">
    <img class="big" src="https://www.imageupload.co.uk/images/2018/09/27/big8.jpg" alt="">
    <img class="big" src="https://www.imageupload.co.uk/images/2018/09/27/big9.jpg" alt="">
    <img class="big" src="https://www.imageupload.co.uk/images/2018/09/27/big10.jpg" alt="">
    <img class="big" src="https://www.imageupload.co.uk/images/2018/09/27/big11.jpg" alt="">
    <img class="big" src="https://www.imageupload.co.uk/images/2018/09/27/big12.jpg" alt="">
    <img class="big" src="https://www.imageupload.co.uk/images/2018/09/27/big13.jpg" alt="">
    <img class="big" src="https://www.imageupload.co.uk/images/2018/09/27/big14.jpg" alt="">
    <img class="big" src="https://www.imageupload.co.uk/images/2018/09/27/big16.jpg" alt="">
</div>
</div>
{% endblock %}