/* Core Style */
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: #211707;
    text-align: center;
    
}

h1, h2, h3 {
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 1em 0.1em;
    font-size: 1.3em;
}

.btn {
    display: inline-block;
    border: 1px solid #FADE36;
    padding: 1em 1em;
    color: #FADE36;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

.btn:hover
{
    background: rgb(223, 197, 51);
    color: rgb(255, 255, 255);
}

.content-wrap-a h2 {
    font-size: 2em;
    color: #FADE36
}

.content-wrap-b h2 {
    font-size: 2em;
    color: #FADE36
}

.content-wrap-c h2 {
    font-size: 2em;
    color: #FADE36
}

.content-wrap-d h2 {
    font-size: 2em;
    color: #FADE36
}

#section-a {
    color: #ffffff;
    text-align: center;
    min-height: 600px;
}

#section-a .content-wrap {
    padding: 0 1.5em;
    text-transform: uppercase;
}

#section-a .bg-image {
    padding: 0.4em 0.2em;
}

#section-a h1 {
    font-size: 4em;
    padding: 0 0;
    color: #FADE36;
}


#section-a p {
    border: 1px solid #FADE36;
    margin-bottom: 1em;

}

/*SECTION B*/


/*SECTION C*/

.portfolio {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  .portfolio img {
    width: 100%;
    box-shadow: var(--shadow);
  }

/*SECTION D*/

#section-d {
    padding: 2em 1em 1em;
}

#section-d ul{
    list-style: none;
}

#section-d li img{
    height: 50px;
}
#section-d li {
    margin-bottom: 1em;
}
#section-d li p{
    padding: 0;
    color: #ffffff;
    font-size: 1em;
}
#section-d li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1em
}

@media (min-width: 800px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, 25em) 1fr;
    }

    .content-wrap-a{
        grid-column: 2/4;
    }

    .content-wrap-b{
        grid-column: 2/4;
    }

    .content-wrap-c{
        grid-column: 2/4;
    }
    
    .content-wrap-d{
        grid-column: 2/4;
    }

    #section-d li img{
        height: 150px;
    }

    #section-d ul {
        display: flex;
        justify-content: space-around;
    }

    #section-d li {
        width: 50%;
    }

    #section-d li p{
        padding: 0;
        color: #ffffff;
        font-size: 1.5em;
    }
    #section-d li a{
        text-decoration: none;
        color: #ffffff;
        font-size: 1.5em
    }
}

@media (min-width: 1000px) {
    .try1 {
        display: none;
    }

    .bg-image {
        background: #211707 url(background1a.jpg);
        position: absolute;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 800px;
        z-index: -1;
        opacity: 0.4;
    }

    .content-wrap-a{
        display: grid;
        grid-template-areas: 
        "try2 . . ."
        "try2 . . ."
        "try3 . . ."
        "try4 . . .";
    }

    .try2 {
        grid-area: try2;
    }

    .try3 {
        grid-area: try3;
    }

    .try4 {
        grid-area: try4;
    }

    #section-d li {
        width: 70%;
    }

    #section-d li p{
        padding: 0;
        color: #ffffff;
        font-size: 1.5em;
    }
    #section-d li a{
        text-decoration: none;
        color: #ffffff;
        font-size: 1.5em
    }
}